/* fonts start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
/* fonts end */

/* general styles start */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #1F453E;
  border-radius: 5px;
  border: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
}
a, button, select, input[type="radio"], input[type="checkbox"], label {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

input[type="text"], input[type="password"], textarea, select {
    width: 100%;
}

.custom-input {
    background-color: #c1d3d0;
    padding: 10px;
    border-radius: 10px;
}
.custom-input input[type="text"], 
.custom-input textarea {
    border: 1px solid transparent;
    font-size: 16px;
    background-color: transparent;
}
.custom-input input[type="text"]:focus, 
.custom-input textarea:focus {
    padding: 10px;
    border: 1px solid #1F453E;
}

.custom-editor {
    background-color: #c1d3d0;
    padding: 20px;
    border-radius: 10px;
}
.custom-editor textarea {
    display: none;
}
.custom-editor.active textarea {
    display: block;
}
.custom-editor .custom-editor__preview {
    display: block;
    margin: 0;
    padding: 10px;
    border: 1px solid transparent;
}
.custom-editor__preview p {
    margin-top: 0;
}
.custom-editor.active .custom-editor__preview {
    display: none;
}
.custom-editor .ck-editor {
    display: none;
}
.custom-editor.active .ck-editor {
    display: block;
}
.custom-editor .custom-editor__btn {
    display: none;
    margin-top: 10px;
}
.custom-editor.active .custom-editor__btn {
    display: block;
}

.custom-textarea {
    padding: 20px;
    border-radius: 10px;
}
.custom-textarea textarea {
    height: 100px;
    resize: none;
    display: none;
}
.custom-textarea textarea:focus {
    display: block;
}
.custom-textarea textarea + .custom-textarea__preview {
    display: block;
    margin: 0;
}
.custom-textarea textarea:focus + .custom-textarea__preview {
    display: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.custom-checkbox > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #1F453E;
    border-radius: 4px;
}
.custom-checkbox > input:checked + span:after {
    content: '✓';
    font-size: 16px;
    color: #1F453E;
}
.custom-checkbox input {
    display: none;
}

.custom-radio {

}
.custom-radio input {
    display: none;
}
.custom-radio--type1 {
    min-width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E7F2F0;
    border-radius: 32px;
    padding: 3px;
}
.custom-radio--type1 > label {
    width: 50%;
}
.custom-radio--type1 > label > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 5px 0;
    color: #1F453E;
}
.custom-radio--type1 > label > input:checked + span {
    background: #1F453E;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.title {
    padding: 10px 0;
}

.text-center {
    text-align: center;
}

.hidden, *[hidden] {
    display: none;
}

@media (max-width: 768px) {
    .hidden-xs {
        display: none !important;
    }
}

.mt-3 {
    margin-top: 3rem !important;
}
.mt-1-5 {
    margin-top: 1.5rem!important;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 15px;
    background-color: transparent;
    color: #1F453E;
    border: 1px solid #1F453E;
    border-radius: 5px;
    padding: 10px 15px;
}
.btn:hover {
    opacity: 0.8;
}
.btn-fill {
    background-color: #1F453E;
    color: #fff;
}
.btn-success {
    border-color: rgb(42, 196, 55);
    color: #1F453E;
}
.btn-fill-success {
    background-color: rgb(42, 196, 55);
    border-color: rgb(42, 196, 55);
    color: #333;
}
.btn-danger {
    border-color: rgb(196, 42, 42);
    color: rgb(196, 42, 42);
}
.btn-fill-danger {
    background-color: rgb(196, 42, 42);
    border-color: rgb(196, 42, 42);
    color: #fff;
}
.btn-primary {
    border-color: rgb(101, 151, 226);
    color: #333;
}
.btn-fill-primary {
    background-color: rgb(101, 151, 226);
    border-color: #6597e2;
    color: #fff;
}
.btn-fill-light {
    background-color: #e7f2f04d;
    border-color: #e7f2f04d;
    color: #fff;
}
.btn-transparent-light {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    padding: 0;
}
.btn-transparent-light i {
    font-size: 23px;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-param {
    padding: 0 0 10px 0;
}
.form-line {
    background-color: #c1d3d0;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}
.form-line label {
    display: flex;
    align-items: center;
}
.form-line label > div {
    width: 100%;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #1F453E;
    background-color: transparent;
    border-radius: 5px;
    max-width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.selectric-selectric-light .selectric {
    border: none;
    background: transparent;
    width: fit-content;
}
.selectric-selectric-light .selectric .label {
    font-size: 16px;
    text-decoration: underline;
}
.selectric-selectric-light .selectric .button {
    display: none;
}
.selectric-selectric-light .selectric-items {
    left: auto;
    right: 0;
    min-width: 200px;
}

.alert {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
}
.alert-danger {
    background-color: rgb(255, 157, 157);
    color: rgb(168, 0, 0);
}
.alert-success {
    background-color: rgb(180, 255, 157);
    color: rgb(0, 88, 0);
}

.nav-tabs {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.nav-tabs__link {
    color: #333;
    padding: 15px;
    display: block;
}
.nav-tabs__link.active {
    border-bottom: 1px solid #1F453E;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

.switcher input {
    display: none;
}
.switcher label {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 40px;
}
.switcher label:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #c1d3d0;
    position: absolute;
    top: 2px;
    left: 2px;
}
.switcher input:checked + label {
    background-color: #32cd32;
    border-color: #32cd32;
}
.switcher input:checked + label:before {
    left: auto;
    right: 2px;
}

.mini-popup {
    position: relative;
}
.mini-popup-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 350px;
    width: fit-content;
    max-width: 100%;
    left: 0;
    justify-content: space-between;
    background: #fff;
    -webkit-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    padding: 20px;
    border-radius: 10px;
}
.mini-popup-content.active {
    display: block;
}

.jsCalendar tbody td {
    cursor: pointer !important;
}
.jsCalendar tbody td.jsCalendar-current {
    background-color: transparent !important;
    border: 1px solid #ccc !important;
    color: #000 !important;
}
.jsCalendar tbody td.jsCalendar-selected {
    background-color: #333 !important;
    border: 1px solid #333 !important;
    color: #fff !important;
}

.children-inline {
    display: flex;
    justify-content: space-between;
}
.children-inline > * {
    width: 45%;
}
/* general styles end */


/* header styles start */
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 0 20px;
    background-color: #1F453E;
    color: #fff;
}
.header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    color: #fff;
    font-size: 32px;
}
@media (max-width: 768px) {
    .logo {
        font-size: 18px;
    }
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li a {
    padding: 0 10px;
    color: #fff;
}
/* header styles end */

/* content styles start */
main {
    display: block;
    background-color: #E7F2F0;
    height: calc(100% - 60px);
    position: relative;
}
main > div {
    height: 100%;
}
main:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../image/icons/bg-sprinkle-big.svg');
    background-size: cover;
    background-repeat: space;
    opacity: 0.2;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.container-fluid {
    width: 100%;
    padding: 0 20px;
}
@media (max-width: 768px) {
    .container-fluid {
        padding: 0 5px;
    }
}

.main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    position: relative;
    z-index: 1;
    width: 296px;
    margin-right: 20px;
    padding: 20px 0;
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
        position: absolute;
        height: 100%;
    }
    .sidebar-active .sidebar {
        display: block;
    }
}

.main-content {
    width: calc(100% - 296px - 20px);
    height: 100%;
    padding: 20px 10px 20px 0;
}
@media (max-width: 768px) {
    .main-content {
        width: 100%;
        padding: 5px 0;
    }
}

.shadow-element {
    -webkit-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 15px;
    overflow-y: auto;
}
.modal-overlay {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1F453E;
}
.modal-footer {
    margin: 10px 0;
    border-top: 1px solid #1F453E;
    padding: 10px 0;
}

.modal.full {
    width: 90%;
}
.modal-content {
    display: flex;
    justify-content: space-between;
}
.modal-content > div {
    width: 100%;
    max-width: calc(100% - 224px);
}
.modal.full .modal-content > div:not(.modal-aside) {
    width: calc(50% - 20px - 112px);
}
.modal-extended {
    display: none;
}
.modal.full .modal-content .modal-extended {
    display: block;
}
.modal-content > .modal-aside {
    min-width: 224px;
    width: 224px;
}
@media (max-width: 768px) {
    .modal {
        width: 100%;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-content > div {
        max-width: 100%;
    }
    .modal-content > .modal-aside {
        width: 100%;
        max-width: 100%;
    }
}
/* content styles end */


/* profile mini styles start */
.card{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: auto;
}
.upper{
    height: 100px;
    overflow: hidden;
}
.upper img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.user{
    position: relative;
}
.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile{
    position: absolute;
    top:-50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border:3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}
.stats h6 {
    font-size: 14px;
}
.stats span {
    font-size: 29px;
}
.user-name {
    font-size: 24px;
}
.action button {
    margin-bottom: 5px;
}
/* profile mini styles end */


/* board styles start */
.board-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.board-list__item {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-right: 15px;
}
.board-list__item .btn {
    margin-right: 5px;
}
.board-list__item .btn:last-child {
    margin-right: 0;
}
.board-list__add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    padding: 22px;
    cursor: pointer;
}
.board-list__add:hover {
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}
.board-container {
    display: flex;
}
.board-menu {
    width: 300px;
    height: 100%;
    padding: 15px 15px 0 0;
    background-color: #1F453E;
    border-radius: 0 15px 15px 0;
}
.board-menu .shadow-element {
    border-radius: 0 10px 10px 0;
    padding: 15px;
    background: rgba(231, 242, 240, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.board-menu_item {
    margin-bottom: 0px;
}
.board-menu_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(31, 69, 62, 0.40);
    color: #fff;
    border-bottom: 1px solid #1F453E;
}
.board-menu_link.active {
    background-color: #1F453E;
    color: #eee;
}
.board-menu_link:hover {
    opacity: 0.8;
}
.board-menu .board-menu_item:first-child .board-menu_link {
    border-radius: 5px 5px 0 0;
}
.board-menu .board-menu_item:last-child .board-menu_link {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}
.board-menu_link > span {
    display: flex;
    align-items: center;
    gap: 10px;
}
.board-menu_link svg {
    width: 25px;
    height: 25px;
}
.board {
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    height: 100%;
    margin-left: 320px;
    padding-bottom: 10px;
    position: absolute;
    overflow: hidden;
}
.board-wrapper {
    display: flex;
    height: 50%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow-x: auto;
    position: relative;
}
.sortable-board.placeholder {
    background-color: #fff;
    margin-right: 20px;
    border-radius: 15px;
    opacity: 0.5;
}
.board-column {
    width: 300px;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 15px;
}
.board-column__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-height: 100%;
    padding: 0;
}
.board-column__inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1F453E;
    -webkit-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    opacity: 0.8;
    border-radius: 15px;
}
.board-column__inner > div {
    position: relative;
}
.board-column.placeholder {
    background-color: #c1d3d0;
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 0.5;
}
.board-column__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    color: #fff;
}
.board-column__top a {
    color: #fff;
}
.board-column__bottom {
    position: relative;
    padding: 15px;
    color: #fff;
}
.board-column__bottom a {
    color: #fff;
}
.board-column-tasks {
    width: 100%;
    min-height: 1px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .board {
        width: 100%;
        margin-left: 10px;
    }
}


.bc-task {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    background-color: #E7F2F0;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.bc-task__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#resizable-top {
    min-height: 100px;
    height: 100%;
    max-height: 100%);
}
#resizable-top.two-rows {
    height: calc(100% - 112px);
    max-height: calc(100% - 112px);
}
#resizable-bottom {
    flex: 1;
    min-height: 100px;
    max-height: calc(100% - 112px);
}
#board-dragbar {
    padding: 6px;
    cursor: row-resize;
    background-color: silver;
}

.board-calendar {

}
.board-calendar_month {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.board-calendar_week {
    display: flex;
}
.board-calendar_day {
    width: 300px;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 15px;
}
.board-calendar__inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0;
}
.board-calendar__top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.board-calendar__tasks {
    width: 100%;
    min-height: 1px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px;
}


/* board styles end */

/* task and list styles start */
.task-menu {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.task-menu > * {
    margin-bottom: 10px;
}
.task-menu > hr {
    width: 100%;
}
.form-buttons {
    display: flex;
}


.main-content__data {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 26px -5px rgba(34, 60, 80, 0.2);
}
.task-calendar {
    width: 100%;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(180deg, #63998F 0%, #427168 48%, #1F453E 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.task-calendar__top {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.task-calendar__title {
    font-size: 24px;
    margin: 0;
}
.task-calendar__left {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 20px;
}
.task-calendar__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-calendar__filter button {
    width: 28px;
    height: 28px;
    background: rgba(31, 69, 62, 0.40);
    color: #fff;
    border: none;
    border-radius: 4px;
}
.task-calendar__filter button:hover {
    opacity: 0.7;
}
.task-calendar__bottom {
    display: flex;
    justify-content: space-between;
    background: #1F453E;
    width: 100%;
}
.task-calendar__days {
    display: flex;
}
.task-calendar__day {
    min-width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
}
.task-calendar__day:hover, .task-calendar__day.active {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.task-calendar__days .task-calendar__day:nth-child(1) span{
    /* transform: rotate(-90deg); */
    display: flex;
    align-items: center;
    height: 100%;
    letter-spacing: 3px;
}
.task-calendar__list {
    display: flex;
    overflow-x: auto;
}
@media (max-width: 480px) {
    .task-calendar {
        height: auto;
    }
    .task-calendar__top {
        flex-direction: column;
    }
    .task-calendar__left {
        margin-bottom: 0;
    }
    .task-calendar__right {
        margin-bottom: 20px;
    }
}

.task-list {
    padding: 0 20px 20px;
}
.task-list__header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7D7D7D;
    color: #7D7D7D;
    font-size: 16px;
}

.task-list__header > .task-list__column:nth-child(1), .task-item > .task-list__column:nth-child(1) {
    width: 40%;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}
.task-list__header > .task-list__column:nth-child(2), .task-list__header > .task-list__column:nth-child(3), .task-list__header > .task-list__column:nth-child(4), .task-list__header > .task-list__column:nth-child(5),
.task-item > .task-list__column:nth-child(2), .task-item > .task-list__column:nth-child(3), .task-item > .task-list__column:nth-child(4), .task-item > .task-list__column:nth-child(5) {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #7D7D7D;
}
.task-list__header > .task-list__column:nth-child(2):before, .task-list__header > .task-list__column:nth-child(3):before, .task-list__header > .task-list__column:nth-child(4):before, .task-list__header > .task-list__column:nth-child(5):before,
.task-item > .task-list__column:nth-child(2):before, .task-item > .task-list__column:nth-child(3):before, .task-item > .task-list__column:nth-child(4):before, .task-item > .task-list__column:nth-child(5):before {
    content: '';
    display: block;
    width: 1px;
    height: 80%;
    position: absolute;
    left: 0;
    top: 10%;
    background-color: #cfcfcf;
    opacity: 0.5;
}
@media (max-width: 768px) {
    .task-list {
        padding: 0 5px 20px;
    }
    .task-list__header > .task-list__column:nth-child(1), .task-item > .task-list__column:nth-child(1) {
        width: 70%;
    }
    .task-list__header > .task-list__column:nth-child(2), .task-list__header > .task-list__column:nth-child(3), .task-list__header > .task-list__column:nth-child(4), .task-list__header > .task-list__column:nth-child(5),
    .task-item > .task-list__column:nth-child(2), .task-item > .task-list__column:nth-child(3), .task-item > .task-list__column:nth-child(4), .task-item > .task-list__column:nth-child(5) {
        width: 30%;
    }
}


.list-add {
    display: flex;
    justify-content: center;
    height: fit-content;
    min-height: 50px;
    cursor: pointer;
    color: #fff;
}
.list-add .board-column__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-left: 4px solid #c9c9c9;
    margin-top: 20px;
}
.task-item__name {
    font-size: 16px;
}
.task-item__list, .task-item__date {
    font-size: 14px;
    color: #aeaeae;
}

.task-comment__item, .task-comment__new {
    width: 100%;
    background-color: #c1d3d0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task-comment__top {
    display: flex;
    align-items: center;
}
.task-comment__top > * {
    margin-right: 15px;
}

.deadline__popup {
    min-width: 330px;
}
.deadline__popup > div {
    width: 100%;
}
.deadline__calendar {
    width: 100%;
    margin-bottom: 20px;
}
.deadline__calendar table {
    width: 100%;
    margin: 0 !important;
}
.deadline__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.deadline__dates {
    padding: 10px;
    background-color: #1F453E;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.deadline__dates:hover {
    opacity: 0.8;
}
.deadline-green {
    background-color: #71ff71;
}
.deadline-yellow {
    background-color: #ffff66;
}
.deadline-red {
    background-color: #ff9999;
}

.task-schedule__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-schedule__header {
    display: flex;
    align-items: center;
}
.task-schedule__header > div {
    width: 33%;
}
.task-schedule__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.task-schedule__checkbox {
    width: 50%;
}
.task-schedule__inputs {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-schedule__exception-action {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.task-schedule__exception-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-schedule__exception-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
/* task and list styles end */


/* login page start */
.login-bg, .register-bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login-form, .register-form {
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}
.login-form label, .register-form label {
    text-align: center;
}
.login-form input, .register-form input {
    width: 100%;
}
.btn-login, .btn-register {
    width: 100%;
    background-color: #517ea3;
    padding: 10px;
}
/* login page end */


.private-mode-switcher input {
    display: none;
}
.private-mode-switcher label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #333;
    border: 2px solid #333;
    border-radius: 40px;
    font-size: 20px;
}
.private-mode-switcher input:checked + label {
    color: #32cd32;
    border-color: #32cd32;
}

.home-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/* Checklist */
.check-lists {
    margin-top: 20px;
}
.check-list {
    position: relative;
    background-color: #c1d3d0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.check-list input[type="text"]:not(:focus) {
    background-color: transparent;
    border: none;
    outline: none;
}
.check-list input[type="checkbox"] {
    margin-right: 20px;
}
.check-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.check-list__name {
    display: flex;
    align-items: center;
}
.check-list__name input {
    font-size: 18px;
    font-weight: bold;
}
.check-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.check-list__item--checked {
    
}
.check-list__inputs {
    display: flex;
    align-items: center;
    width: 100%;
}
.check-list__item-name {
    width: 100%;
}
.custom-checkbox--checked + .check-list__item-name {
    text-decoration: line-through;
}
.check-list__inputs textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
}
.check-list__inputs textarea:focus {
    border: 1px solid #1F453E;
}
.check-list__inputs .custom-textarea {
    padding: 0;
}


/* Cover */
.task-cover {
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.bc-task .task-cover {
    height: 10px;
    margin-bottom: 5px;
}
.task-cover__area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
}
.bc-task .task-cover__area {
    height: 20px;
}
.cover > button {
    width: 100%;
}
.cover__popup  {
    right: 0;
    left: auto;
    z-index: 1;
}
.cover-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cover-item {
    width: 32%;
    height: 30px;
    position: relative;
    margin-bottom: 5px;
}
.cover-item input {
    display: none;
}
.cover-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
}
.cover-list .cover-item:last-child label {
    border-color: #ccc;
}
.cover-list .cover-item:last-child input:checked + label {
    border-color: #333;
}
.cover-item input:checked + label {
    border-color: #333;
}



/* Members */
.members-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.members-add label {
    display: flex;
    flex-direction: column;
}
.members table {
    width: 100%;
}
.members table thead td {
    background-color: #c1d3d0;
    padding: 5px 10px;
}
.members td {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}
.members input[type="text"] {
    min-width: 200px;
}
.task-members__popup {
    right: 0;
    left: auto;
    z-index: 1;
    max-width: max-content;
}
.task-members > button {
    width: 100%;
}

/* reports start */
.reports {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
.reports > div {
    width: calc(50% - 15px);
}
.task-report__item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.task-report__graph {
    height: 300px;
}
@media (max-width: 768px) {
    .reports > div {
        width: 100%;
    }
}
/* reports end */

/* Progress bar start */
.progress-bar {
    
}
.progress-bar--horizontal {
    width: 100%;
    height: 15px;
    position: relative;
    background: #fff;
    border: 1px solid #1F453E;
    border-radius: 15px;
}
.progress-bar__progress {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #1F453E;
    font-size: 12px;
    color: #fff;
}
.progress-bar__empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #eee;
    font-size: 12px;
    color: #1F453E;
}
/* Progress bar end */

/* chart */ 
.chart-container {
    position: relative;
    height: 80px;
    width: 300px;
}
@media (max-width: 480px) {
    .chart-container {
        width: 100%;
    }
}